@if (Users is null)
{
    <p>Loading...</p>
}
else
{
    <h3>@Title</h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>PasswordHash</th>
                <th>UserRoles</th>
                <th>RefreshToken</th>
                <th>CreatedAt</th>
                <th>Редактировать</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.PasswordHash</td>
                    @foreach (var roles in @user.UserRoles) {
                        <td>@roles.Role.Name</td>
                    }
                    <td>@user.RefreshToken</td>
                    <td>@user.CreatedAt</td>
                    <td>
                        <button @onclick="() => Edit(user)">Редактировать</button>
                    </td>
                </tr>
                }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public IEnumerable<User>? Users { get; set; } = null;

    private async Task Edit(User user)
    {

    }
}
