<div class="card shadow" style="width: 18rem;">
    <img src="@Course.Image" class="card-img-top" alt="@Course.Title" />
    <div class="card-body">
        <h5 class="card-title">@Course.Title</h5>
        <h6 class="card-subtitle mb-3 text-muted">
            <span class="oi oi-map-marker"></span>
        </h6>
        <div class="d-flex justify-content-between">
            <span>
                <span class="oi oi-clock mr-2"></span>
                @Course.TimeFormatted
            </span>
            <span>
                <span class="oi oi-infinity mr-2"></span>
                @Course.Progress %
            </span>
        </div>
        <button class="btn btn-primary" @onclick="@(async () => await OnSelected.InvokeAsync())">
            <i class="bi bi-binoculars"></i>
        </button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Course Course { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback OnSelected { get; set; }
}