<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Ничего не найдено</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Извините, по такому адресу ничего не найдено.</p>
        </LayoutView>
    </NotFound>
</Router>
